.navbar-custom {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  max-height: 53px;
}

.navbar-custom div {
  padding: .5rem 1rem
}

.navbar-light a {
  color: white !important
}

.dashboard-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88vh;
}

.dashboard-button .btn {
  margin-bottom: 5px
}
  
.top-navbar {
    position: relative;
}
.top-navbar:after {
    content: "You Are Offline!";
    display: block;
    background: #c00;
    height: 29px;
    width: 20%;
    min-width: 230px;
    text-align: center;
    position: absolute;
    color: white;
    bottom: -29px;
    left: 45%;
    margin-left: -95px;
    z-index: 9;
}