.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.login-card {
  min-width: 100%
}

.login-forgot {
  text-align: center
}

div.content {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.card-header {
  background-color: white !important;
  border-bottom: 0px !important;
}

.card-footer {
  background-color: white !important;
  border-top: 0px !important;
}

